<!--
Name: Abigail
Date: 04/12/2026
-->
/* Global Reset */
table {
  border: 2px solid #222;
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  box-sizing: border-box;
}

th, td {
  border: 2px solid #222;
  padding: 0.5em;
  text-align: center;
}

.movie-title {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f4e1d2;
}

tr:nth-child(even) {
  background-color: #c5dff8;
}
